.uofa {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

body {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2px black;
}

.header {
    font-weight: bold;
}


.profile {
    width: 500px;
    float: right;
}

.name {
    font-size: 200%;
    font-weight: bold;
    float: right;
}

.checkmark {
    width: 20px;
}

.sidebar {
    display: block;
    border: 5px solid green;
    background-color: green;
}